* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

img[src="images/face.jpg"] {
    box-shadow: 5px 5px 10px gray;
}

nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1%;
    background-color: #D8D2C2;
}

.logo-container {
    display: flex;
    align-items: center;
}
nav img.logo {
    width: 30px;
    margin-right: 10px;
}
nav h1 {
    color: #4A4947;
    margin: 0;
    line-height: 30px;
}

.nav-links ul {
    display: flex;
    list-style-type: none;  
}

.nav-links li a {
    text-decoration: none;
    color: #4A4947;
    margin: 0 14px;
}

.nav-links li a:hover {
    color: #ff6347;
}

.intro {
    text-align: center;
    margin: 50px 0;
}

.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4A4947;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff6347;
}

#projects {
    padding: 50px;
    background-color: #fff;
}

#projects h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.project-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.project-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.project-item h4 {
    margin-bottom: 10px;
    color: #4A4947;
}

footer {
    color: #4A4947;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.9em;
}

/* Contact Page */

body {

}

.contact-container {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-image {
    display: block; 
    margin: 20px auto; 
    max-width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 15px; 
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    display: flexbox;
    flex-direction: column;
    gap: 15px;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.info-item i {
    margin-right: 10px;
}

.info-item a {
    color: #4A4947;
    text-decoration: none;
}

.info-item a:hover {
    text-decoration: underline;
}

.social-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px; 
    text-decoration: none;
    font-size: 16px; 
    color: white; 
    margin: 5px 0; 
    transition: background-color 0.3s, transform 0.3s; 
}

.facebook-button {
    background-color: #829bd1;
}

.instagram-button {
    background-color: #d87b9a;
}

.social-button:hover {
    transform: scale(1.05);
}

.social-button i {
    margin-right: 8px;
}


